* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
}
:root{
    --project-height: 300px; 
    --gradient: 0.5; 
}
main{
    margin: 0;
    padding: 0;
}
/* Header ribbon an menu styles */
header{
    background-image: url(/assets/images/computerString.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}
/* Header Ribbon */
header h1{
    width: 350px;
    white-space: nowrap;
    padding: 5px 10px 5px 85px;
    margin-right: 10px;
    font-size: 38px;
}
header a, header li{
    font-size: 28px;
}
.top-bar{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: navy;
    align-items: center;
}
/* Header navigation bar */
.menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 100px;
    margin-bottom: -20px;
}
.menu li{
    
    font-weight: bold;
    display: inline;
    color: aquamarine;
    border-bottom: 3px solid aquamarine;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.subtitle{
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 30px;
    height: 80px;
    width: 500px;
    background-color: aquamarine;
    align-items: center;
    justify-content: start;
}
.subtitle h1{
    padding-left: 20px;
    color: navy;
    font-weight: 700;
}
header a, header a:visited {
    color: inherit; 
    text-decoration: none;
    background-color: transparent;
}
.menu a:hover, .menu a:active{
    color: white;
    border-bottom: 3px solid white;
}
.animation{
    display: flex; 
    width: 350px; 
    background-color: aquamarine;
    align-items: center;
    justify-content: end;
    animation-name: top-ribbon;
    animation-duration: 2s;
    color: navy;
    font-weight: 700;
}
.class{
    width: 125px;
}
.about{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    margin-bottom: 50px;
}
#about-text{
    margin-top: 10px;
    display: flex;
    position: relative;
    width: 60%;
    height: 100%;
    align-items: center;

}
#about-text p{
    overflow: scroll;
    width:100%;
    height: 80%;
    padding: 10px;
    font-size: 25px;
    color: navy;
    border: 2px solid navy;
    margin: 2px;
}   
#about-img{
display: flex;
justify-content: center;
align-items: center;

}
#about-img img{
    width: 20%;
    margin-left: 20px; 
    align-items: center;
    justify-content: center;
    margin-right: 30px; 
    border-radius:50%;
    border: 5px solid navy;
    width: 150px;
}
/* Main Body */

/* My Inormation */
/* My Work */
.work{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title{
    width: 15%;
    text-align: right;
    border-right: 5px solid navy;
}
.title h1{
    font-size: 38px;
    font-weight: bolder;
    color: navy;
    margin: 10px;
    text-align: right;
}
.work-links{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
}
.projects{
    display: flex;
    border: 10px solid aquamarine;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.projects a, .projects a:visited{
    opacity: 50%;
}
.projects a:hover, .projects a:active{
    opacity: 100%;
}
#main-project{
    height: 600px;
    grid-column: 1/ span 2;
    grid-row: 1;
}
.project-images{
    height: var(--project-height);
}
#project-1{ 
    grid-row: 2;
    grid-column: 1;
}
#project-2{
    grid-row: 2;
    grid-column: 2;
}
#project-3{
    grid-row: 3;
    grid-column: 1;
}
#project-4{
    grid-row: 3;
    grid-column: 2;
}
.project-ribbon{
    width: 300px;
    height: 120px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    bottom: 50px;
    /* font-size: 40px; */
}
.project-ribbon h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 24px;
}
.project-ribbon p{
    font-size: 18px;
    padding-left: 10px;
}
@keyframes top-ribbon{

    0% { width: 0px;}
    100%{ width: 350px;}
}
/* Footer */
footer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;

}
#more-details{
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-links li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 20px;
}
.footer-links a{
    color: inherit; 
    text-decoration: none;
    background-color: transparent;
    color: navy;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 5px solid navy;
}
.footer-links a:hover, footer a:active{
    color: aquamarine;
    border-bottom: 5px solid aquamarine;
}
@media screen and (min-width:950px) and (max-width: 1200px){

header{
    height: 500px;
}
.top-bar{
    height: 300px;
}
.menu li{
    text-align: center;
    padding: 0;
    display: block;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 20%;
}
.title h1{
    text-align: right;
    font-size: 34px;
}
#about-text{
    height: 100%;
    width: 60%;
}  
#about-text p{
    height: 100%;
    width: 100%;
    margin-right: 20px;
}  
#about-img img{
    margin-right: 20px;
}
.work h1{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
/* My Work */
.work{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
} 
.work-links{
    width: 100%;
    display: grid;
    grid-column: span 2;
}
.project-ribbon h1{
    text-align: left;
    padding: 5px;
    font-size: 24px;
    
}
.project-ribbon p{
    font-size: 16px;
    padding-right: 10px;
}
.about .title h1{
    font-size: 34px;
    font-weight: bolder;
    text-align: start;
    margin: 0px;
    text-align: right;
    margin-right: 10px;
}   
.work .title{
    border: 0;
    /* font-size: 40px; */
    width: 100%
}
#more-details{
    width: 100%;
    justify-content:start;
    margin: 0;
    padding: 0;
}
.footer-links a{
    font-size: 22px;    
}   
ul{
    list-style-type: none;
    padding: 0;
}
.footer-links li:first-child{
    margin-left: 20px;
}
.footer-links li{
    margin: 10px;  
    padding: 0;
}
}
@media screen and (min-width:700px) and (max-width: 949px){
    header{
        height: 400px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-image: url();
        margin-bottom: 20px;
    }
    .top-bar{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: 300px;
        justify-content: start;
    }
    .subtitle{
        left: 0;
        margin: 0;
        padding: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
    }
    .subtitle h1{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    @keyframes top-ribbon{

        /* 0% { width: 0px;}
        100%{ width: 350px;} */
    } 
    .animation{
        display: flex; 
        width: 150px; 
        background-color: aquamarine;
        align-items: center;
        justify-content: start;
        color: navy;
        font-weight: 700;        
    }
    .animation h1{
        white-space: wrap;
        text-align: left;
        padding: 0;
        padding-left: 10px;
        
    }
    .menu{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 20px;
    }
    .menu ul{
        margin: 0;
        padding: 0;
        top: 0;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu li{
        margin: 10px;
    }
    .about{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        border: 0;
        height: 250px;
    }
    #about-img{
        padding: 0;
        margin: 0;
        display: none;
    }
    .about .title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        border: 0;
        height: 50px;
    }
    .about h1{
        padding: 0;
        margin: 0;
        border: 0;
        text-align: center;
    }
    #about-text{
        width: 100%;
        height: 180px;
        margin: 10px;
    }
    #about-text p{
        margin: 0;
        height: 100%;
    }
    .work{
        display: flex;
        margin: 0;
        flex-direction:column;
    }
    .work .title{
        border: 0;
        width: 100%;
    }
    .work .title h1{
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }
    .work .work-links{
        margin: 0;
        width: 100%;
    }
    .project-ribbon{
        margin: 0;
        width: 250px;
    }
    footer{
        flex-direction: row;
        height: 200px;
        justify-content: end;
    }
    .footer-links{
        display: flex;
        flex-direction: row;
        align-items:end;
        justify-content: end;
    }
    #more-details{
        justify-content: end;
        width: 60%;
        border-left: 5px solid navy;
        /* margin-left: 100px; */
    }
    .footer-links ul{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        font-size: 100px;
    }
    .footer-links li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer .title{
        width: 50%;
        border: 0;
    }
    .footer-links a{
        border: 0;
    }
    footer .title h1{
        text-align: center;
        border: 0;
        margin: 0;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 699px) {

    /* Page Header */
    header{
        height: 400px;
        /* display: flex; */
        /* flex-direction: column; */
        /* margin: 0; */
        /* padding: 0; */
        background-image: url();
        margin-bottom: 20px;
    }
    .top-bar{
        /* display: flex; */
        /* flex-direction: row; */
        /* margin: 0; */
        /* padding: 0; */
        height: 300px;
        /* justify-content: center; */
    }
    .subtitle{
        left: 0;
        /* margin: 0; */
        /* padding: 0; */
        bottom: 0;
        height: 100px;
        width: 100%;
    }
    .subtitle h1{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    @keyframes top-ribbon{

        /* 0% { width: 0px;}
        100%{ width: 350px;} */
    } 
    .animation{
        /* display: flex;  */
        width: 150px; 
        /* background-color: aquamarine; */
        /* align-items: center;
        justify-content: start; */
        /* color: navy; */
        /* font-weight: 700;         */
    }
    /* .top-bar h1{
        left: 0;
    } */
    .animation h1{
        white-space: wrap;
        /* text-align: left; */
        /* padding: 0; */
        /* padding-left: 10px; */
        
    }
    .menu{
        /* width: 200px; */
        /* display: flex; */
        /* justify-content: end; */
        /* align-items: center; */
        /* padding: 0; */
        /* margin: 0; */
        /* right: 0; */
        /* width: 100%; */
        /* margin-right:  20px; */
        margin: 0 20px 0 0;
    }
    .menu ul{
        /* margin: 0; */
        /* padding: 0; */
        /* top: 0; */
        /* height: 280px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* right: 0; */
    }
    .menu li{
        margin: 10px;
    }
    /* Main Page About Section */
    .about{
        /* flex-direction: row; */
        /* align-items: center; */
        /* justify-content: center; */
        /* padding: 0; */
        /* margin: 0; */
        /* border: 0; */
        height: 250px;
    }
    #about-img{
        /* padding: 0; */
        /* margin: 0; */
        display: none;
    }
    .about .title{
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* padding: 0; */
        /* margin: 0; */
        width: 100%;
        border: 0;
        height: 50px;
    }
    .about h1{
        /* padding: 0; */
        margin: 0;
        /* border: 0; */
        text-align: center;
    }
    #about-text{
        width: 100%;
        height: 200px;
        margin: 10px;
    }
    #about-text p{
        margin: 0;
        height: 100%;
    }
    .work{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .work .title{
        width: 100%;
        border: 0;
        /* justify-content: center; */
    }
    .work h1{
        /* width: 100%; */
        text-align: center;
    }
    .work-links{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        padding: 20px;
        gap: 20px;
    }
    #main-project, #project-1, #project-2, #project-3, #project-4{
        grid-column: 1/ span 2;
    }
    #main-project{
        height: 400px;
        /* grid-column: 1/ span 2; */
        /* grid-row: 1; */
    }
    .project-images{
        height: var(--project-height);
    }
    #project-1{ 
        grid-row: 2;
    }
    #project-2{
        grid-row: 3;
    }
    #project-3{
        grid-row: 4;
    }
    #project-4{
        grid-row: 5;
    }

    /* Page Footer */
    footer{
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    footer .title{
        width: 100%;
        border: 0;
    }
    footer .title h1{
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }
    /* #more-details{
        width: 100%;
        justify-content: end;
    } */
    .footer-links{
        justify-content: center;
        align-items: center;
    }
     .footer-links ul{
        border-top: 5px solid navy;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .footer-links a{
        border: 0;
        font-size: 18px;
    }
    .footer-links li{
        margin-bottom: 8px;
        margin-top: 8px;
    }
    /* #more-details{
        justify-content: center;
    } */

}